# 1. Игнорируем абсолютно всё в корне репозитория
/*

# 2. Исключения для важных файлов в корне
!.gitignore
!README.md

# 3. Разрешаем Git заходить в папки-контейнеры
!chemistry/
!icsd_pdb/
!Internships/
!Self-Education/

# 4. Игнорируем всё содержимое внутри этих папок по умолчанию
chemistry/*
Internships/*
Self-Education/*

# 5. Разрешаем конкретные проекты (подпапки)
!chemistry/chem6/
!Internships/INTEREST_13/
!Internships/INTEREST_14/
!Internships/START/
!Self-Education/learn_root/
!Self-Education/tomography_project/

# 7. Глобальный фильтр мусора (применяется ко всем разрешенным проектам)
**/build/
**/bin/
**/*.root
**/*.csv
**/*.pdf
**/.vscode/
**/.DS_Store
**/results/
**/*.log
**/*.err
**/*.out
!**/parameters.txt
!**/requirements.txt

**/venv/
**/.venv/
**/__pycache__/
**/*.pyc