# 1. Игнорируем абсолютно всё в папке projects
/*

# 2. Исключения: файлы самого гита и описания
!.gitignore
!README.md

# 3. Разрешаем заходить в START, но игнорируем там всё
!START/

# 4. Разрешаем конкретные проекты внутри START (добавь свои)


# 5. Разрешаем заходить в INTEREST, но игнорируем там всё
!INTEREST/
INTEREST/*

# 6. Разрешаем конкретные проекты внутри INTEREST
!INTEREST/icsd/

# 7. Глобальный фильтр мусора (Geant4, VS Code, системы)
**/build/
**/bin/
**/*.root
**/*.csv
**/*.txt
**/*.pdf
**/.vscode/
**/.DS_Store
